@model List<TakeNoteWebsite.Models.Data.Entry>

@{
    ViewData["Title"] = "AllEntry";
}
<link rel="stylesheet" href="~/css/allEntry.css" />
<link rel="stylesheet" href="~/css/filter.css" />

<div class="filterContainer">
    <form class="filter" asp-controller="Main" asp-action="AllEntry" method="get">
        <span class="filterSelectContainer">
            <label for="since" class="filterLabel">Since</label>
            <br />
            <select name="since" onchange="this.form.submit()" class="filterSelect">
                <option value="N/A">N/A</option>
                <option value="today">Today</option>
                <option value="yesterday">Yesterday</option>
                <option value="thisWeek">This week</option>
                <option value="lastWeek">Last week</option>
                <option value="last7Days">Last 7 days</option>
                <option value="thisMonth">This month</option>
                <option value="lastMonth">Last month</option>
                <option value="thisYear">This year</option>
                <option value="lastYear">Last year</option>
            </select>
        </span>

        <span class="filterSelectContainer">
            <label for="starred" class="filterLabel">Starred</label>
            <br />
            <select name="starred" onchange="this.form.submit()" class="filterSelect">
                <option value="N/A">N/A</option>
                <option value="starred">Starred</option>
            </select>
        </span>
        <span class="filterSelectContainer">
            <label for="positiveNegative" class="filterLabel">Positive/Negative</label>
            <br />
            <select name="positiveNegative" onchange="this.form.submit()" class="filterSelect">
                <option value="N/A">N/A</option>
                <option value="P">Positive</option>
                <option value="N">Negative</option>
            </select>
        </span>

        <span class="filterSelectContainer">
            <label for="keyword" class="filterLabel">Keyword</label>
            <br />
            <input type ="text" name="keyword">
        </span>
    </form>
</div>
<div style="margin-top: 20px;">
    <div class="entry" style="border-bottom: 0.5px solid gray; box-shadow: 1px 1px 3px 0 #ccc; margin-bottom: 2px;">
        <div><input type="checkbox" disabled="true" style="cursor: auto;"></div>
        <div id="tmp" style="font-weight: bold;">Entry</div>
        <div style="font-weight: bold; color: #4b5363;">Date created</div>
        <div style="font-weight: bold;">Delete</div>
    </div>
    @for (int i = 0; i < Model.Count; i += 1)
    {
        <div class="entry @Model[i].IsPositive" id="@Model[i].ID">
            <div><input type="checkbox" /></div>
            <div style="grid-area: 1/2/2/3">
                <div>@Model[i].Title</div>
                @if (Model[i].Content.Length > 55)
                {
                    Model[i].Content = Model[i].Content.Substring(0, 55) + "...";
                }
                <div class="content">@Model[i].Content</div>
            </div>
            <div>Mon. 5/9/2022 at 7:50pm</div>
            <div><button type="button" class="btn btn-danger buttonDeleteEntry"><i class="fa-solid fa-trash-can"></i></button></div>
        </div>
    }
</div>
<script>
</script>
@*Chúng ta có cần encode id của sản phẩm không*@