
@{
    ViewData["Title"] = "AllEntry";
}
<link rel="stylesheet" href="~/css/allEntry.css" />

<div style="margin-top: 20px;">
    <div class="entry" style="border-bottom: 0.5px solid gray; box-shadow: 1px 1px 3px 0 #ccc; margin-bottom: 2px;">
        <div><input type="checkbox" disabled="true" style="cursor: auto;"></div>
        <div id="tmp" style="font-weight: bold;">Entry</div>
        <div style="font-weight: bold; color: #4b5363;">Date created</div>
        <div style="font-weight: bold;">Delete</i></div>
    </div>
    <div class="entry">
        <div><input type="checkbox"></div>
        <div style="grid-area: 1/2/2/3;">
            <div>Title title title</div>
            <div class="content">Content in title</div>
        </div>
        <div>Mon. 5/9/2022 at 7:50pm</div>
        <div><button type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can delete"></i></button></div>
    </div>
    <div class="entry">
        <div><input type="checkbox"></div>
        <div style="grid-area: 1/2/2/3;">
            <div>Title title title</div>
            <div class="content">Not sure where to start? Take a few minutes to jot down the reason</div>
        </div>
        <div>Mon. 5/9/2022 at 7:50pm</div>
        <div><button type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can delete"></i></button></div>
    </div>
    <div class="entry">
        <div><input type="checkbox"></div>
        <div style="grid-area: 1/2/2/3;">
            <div>Title title title</div>
            <div class="content">Not sure where to start? Take a few minutes to jot down the reason</div>
        </div>
        <div>Mon. 5/9/2022 at 7:50pm</div>
        <div><button type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can delete"></i></button></div>
    </div>
</div>