@model List<TakeNoteWebsite.Models.Data.Entry>

@{
    ViewData["Title"] = "AllEntry";
}
<link rel="stylesheet" href="~/css/allEntry.css" />

<div style="margin-top: 20px;">
    <div class="entry" style="border-bottom: 0.5px solid gray; box-shadow: 1px 1px 3px 0 #ccc; margin-bottom: 2px;">
        <div><input type="checkbox" disabled="true" style="cursor: auto;"></div>
        <div id="tmp" style="font-weight: bold;">Entry</div>
        <div style="font-weight: bold; color: #4b5363;">Date created</div>
        <div style="font-weight: bold;">Delete</div>
    </div>
    @for (int i = 0; i < Model.Count; i += 1)
    {
        <div class="entry @Model[i].IsPositive" id="@Model[i].ID">
            <div><input type="checkbox" /></div>
            <div style="grid-area: 1/2/2/3">
                <div>@Model[i].Title</div>
                @if (Model[i].Content.Length > 55)
                {
                    Model[i].Content = Model[i].Content.Substring(0, 55) + "...";
                }
                <div class="content">@Model[i].Content</div>
            </div>
            <div>Mon. 5/9/2022 at 7:50pm</div>
            <div><button type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button></div>
        </div>
    }
</div>
<script>
</script>
@*Chúng ta có cần encode id của sản phẩm không*@