
@{
    ViewData["Title"] = "AllEntry";
}
<link rel="stylesheet" href="~/css/allEntry.css" />

<div>
    <div class="entry" style="border-bottom: 2px solid red">
        <div><input type="checkbox" disabled="true"></div>
        <div style="font-weight: bold;">Entry</div>
        <div style="font-weight: bold;">Date create</div>
        <div style="font-weight: bold;">Delete</div>
    </div >
    <div class="entry">
        <div><input type="checkbox"></div>
        <div style="grid-area: 1/2/2/3;">
            <div>Title title title</div>
            <div class="content">Content in title</div>
        </div>
        <div>Mon. 5/9/2022 at 7:50pm</div>
        <div><i class="fa-solid fa-trash-can delete"></i></div>
    </div>
    <div class="entry">
        <div><input type="checkbox"></div>
        <div style="grid-area: 1/2/2/3;">
            <div>Title title title</div>
            <div class="content">Content in title</div>
        </div>
        <div>Mon. 5/9/2022 at 7:50pm</div>
        <div><i class="fa-solid fa-trash-can delete"></i></div>
    </div>
</div>