@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link rel="stylesheet" href="~/css/Authentication.css">
    <div class="SignInFormContainer">
        <h2 class="authenticateHeader">Sign in</h2>
        <form asp-controller="Main" asp-action ="SignIn" method="post">
            <div class="authenticateErrorContainer">
                <p class="authenticateError">@ViewData["Error"]</p>
            </div>
            <span>
                <input name="username" type ="text" class="authenticateFormInput" id="signInUsernameInput" required>
                <br />
                <label class="authenticateFormLabel">USERNAME </label>
            </span>

            <span>
                <br />
                <input name ="password" type="password" class="authenticateFormInput" id="signInPasswordInput" required>
                <br />
                <label class="authenticateFormLabel">PASSWORD </label>
                <br />
             </span>

             <button type="submit" class="authenticateFormSubmitButton"> <p class="authenticateFormSubmitButton"> Sign in</p></button>
        </form>
    </div>
}
